.button {
	padding: 0.3rem 1rem;
	border: 1px solid rgb(179, 177, 177);
	box-shadow: 3px 3px 4px rgb(179, 177, 177);
	margin: 2px 5px;
	border-radius: 5px;
	background-color: #c8f1f6;
}

.button:hover:enabled {
	color: #fff;
	background-color: #5070b0;
}

.button:disabled {
	background: #ccc;
	color: #adabab;
}
